    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="phrase">Phrase</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 1}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 2}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 3}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 4}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 5}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 6}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 7}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 8}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 9}}>
        </div>
        <div class="col-md-1">
			<img src="/assets/sample-circle.png" alt="" height="60%" width="60%" {{action "addSign" "sample-circle.png" 10}}>
        </div>

      </div>

      <div class="row">
          <h1 style="text-align:center;">Answer</h1>
        <div class="col-md-12" id="gesture-set">
        </div>
          <p id="submit-answer"><a class="btn btn-primary btn-lg" href="#" role="button">Submit Answer</a></p>
      </div>
    </div>
