<div class="container" id="add">
  <div id="creation-success" class="alert alert-success collapse">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success!</strong> You have successfully added your translation.
  </div>

	<h1 class = "center-page-header">Update translation</h1><br>
	<h3>Phrase</h3>
  <select class="form-control" id="phrase">
      {{#each item in model}}
        <option data-id="">{{item.item_id}}</option></p>
      {{/each}}
  </select>
  
  <h3>Difficulty</h3>
  <select class="form-control" id="difficulty">
      <option value="1">Easy</option>
      <option value="2">Medium</option>
      <option value="3">Hard</option>
  </select>
	
  <div id="add-signs">
		<h3>Signs</h3>
		<button class="btn btn-primary" data-toggle="modal" data-target="#signs">Add Sign</button>
		<br><br>
	</div>

	<br>
	<button class="btn btn-primary" {{action "updateTranslation"}}>Submit!</button>
</div>

{{!-- Modals --}}

<!-- Hand Signs -->
<div class="modal fade" id="signs">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add hand signs.</h4>
      </div>
      <div class="modal-body">
      <div class="row addb">
        <img src="/assets/gestures/sign-letters-circles/a.png" alt="" height="15%" width="15%" {{action "addSign" "a.png" 1}}>
        <img src="/assets/gestures/sign-letters-circles/b.png" alt="" height="15%" width="15%" {{action "addSign" "b.png" 2}}>
        <img src="/assets/gestures/sign-letters-circles/c.png" alt="" height="15%" width="15%" {{action "addSign" "c.png" 3}}>
        <img src="/assets/gestures/sign-letters-circles/d.png" alt="" height="15%" width="15%" {{action "addSign" "d.png" 4}}>
        <img src="/assets/gestures/sign-letters-circles/e.png" alt="" height="15%" width="15%" {{action "addSign" "e.png" 5}}>
        <img src="/assets/gestures/sign-letters-circles/f.png" alt="" height="15%" width="15%" {{action "addSign" "f.png" 6}}>
      </div>  
      <div class="row addb">
        <img src="/assets/gestures/sign-letters-circles/g.png" alt="" height="15%" width="15%" {{action "addSign" "g.png" 7}}>
        <img src="/assets/gestures/sign-letters-circles/h.png" alt="" height="15%" width="15%" {{action "addSign" "h.png" 8}}>
        <img src="/assets/gestures/sign-letters-circles/i.png" alt="" height="15%" width="15%" {{action "addSign" "i.png" 9}}>
        <img src="/assets/gestures/sign-letters-circles/j.png" alt="" height="15%" width="15%" {{action "addSign" "j.png" 10}}>
        <img src="/assets/gestures/sign-letters-circles/k.png" alt="" height="15%" width="15%" {{action "addSign" "k.png" 11}}>
        <img src="/assets/gestures/sign-letters-circles/l.png" alt="" height="15%" width="15%" {{action "addSign" "l.png" 12}}>
      </div>  
      <div class="row addb">
        <img src="/assets/gestures/sign-letters-circles/m.png" alt="" height="15%" width="15%" {{action "addSign" "m.png" 13}}>
        <img src="/assets/gestures/sign-letters-circles/n.png" alt="" height="15%" width="15%" {{action "addSign" "n.png" 14}}>
        <img src="/assets/gestures/sign-letters-circles/o.png" alt="" height="15%" width="15%" {{action "addSign" "o.png" 15}}>
        <img src="/assets/gestures/sign-letters-circles/p.png" alt="" height="15%" width="15%" {{action "addSign" "p.png" 16}}>
        <img src="/assets/gestures/sign-letters-circles/q.png" alt="" height="15%" width="15%" {{action "addSign" "q.png" 17}}>
        <img src="/assets/gestures/sign-letters-circles/r.png" alt="" height="15%" width="15%" {{action "addSign" "r.png" 18}}>
      </div>  
      <div class="row addb">
        <img src="/assets/gestures/sign-letters-circles/s.png" alt="" height="15%" width="15%" {{action "addSign" "s.png" 19}}>
        <img src="/assets/gestures/sign-letters-circles/t.png" alt="" height="15%" width="15%" {{action "addSign" "t.png" 20}}>
        <img src="/assets/gestures/sign-letters-circles/u.png" alt="" height="15%" width="15%" {{action "addSign" "u.png" 21}}>
        <img src="/assets/gestures/sign-letters-circles/v.png" alt="" height="15%" width="15%" {{action "addSign" "v.png" 22}}>
        <img src="/assets/gestures/sign-letters-circles/w.png" alt="" height="15%" width="15%" {{action "addSign" "w.png" 23}}>
        <img src="/assets/gestures/sign-letters-circles/x.png" alt="" height="15%" width="15%" {{action "addSign" "x.png" 24}}>
      </div>  
      <div class="row addb">
        <img src="/assets/gestures/sign-letters-circles/y.png" alt="" height="15%" width="15%" {{action "addSign" "y.png" 25}}>
        <img src="/assets/gestures/sign-letters-circles/z.png" alt="" height="15%" width="15%" {{action "addSign" "z.png" 26}}>
        <img src="/assets/gestures/words/Are.png" alt="" height="15%" width="15%" {{action "addSign" "Are.png" 27}}>
        <img src="/assets/gestures/words/Good.png" alt="" height="15%" width="15%" {{action "addSign" "Good.png" 28}}>
        <img src="/assets/gestures/words/Hello.png" alt="" height="15%" width="15%" {{action "addSign" "Hello.png" 29}}>
        <img src="/assets/gestures/words/Monkey.png" alt="" height="15%" width="15%" {{action "addSign" "Monkey.png" 30}}>
      </div>  
      <div class="row addb">
        <img src="/assets/gestures/words/Nice.png" alt="" height="15%" width="15%" {{action "addSign" "Nice.png" 31}}>
        <img src="/assets/gestures/words/Orange.png" alt="" height="15%" width="15%" {{action "addSign" "Orange.png" 32}}>
        <img src="/assets/gestures/words/White.png" alt="" height="15%" width="15%" {{action "addSign" "White.png" 33}}>
        <img src="/assets/gestures/words/Yes.png" alt="" height="15%" width="15%" {{action "addSign" "Yes.png" 34}}>
        <img src="/assets/gestures/words/You.png" alt="" height="15%" width="15%" {{action "addSign" "You.png" 35}}>
        <img src="/assets/gestures/words/afternoon.png" alt="" height="15%" width="15%" {{action "addSign" "afternoon.png" 36}}>
      </div>
      <div lass="row">
        <img src="/assets/gestures/words/bathroom.png" alt="" height="15%" width="15%" {{action "addSign" "bathroom.png" 37}}>
        <img src="/assets/gestures/words/beautiful.png" alt="" height="15%" width="15%" {{action "addSign" "beautiful.png" 38}}>        
      </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done!</button>
      </div>
    </div>
  </div>
